
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.3rem;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.page-item {
    width: 2.3rem;
    height: 2.3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 0.07rem;
    background-color: var(--blue);
    color: var(--white)FFF;
    cursor: pointer;
}

.page-btn {
    cursor: pointer;
    color: var(--white)FFF;
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: var(--blue2);
}

.page-btn:disabled {
    opacity: 0.6;
    background-color: var(--blue-disabled);
}

.bi-arrow-left::before,
.bi-arrow-right::before {
    padding: 0.7rem;
}
